{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="page-main">
    <div class="uk-grid" data-uk-grid>
        <div class="uk-width-1-1">
            <h3 class="uk-text-lead">Actualités</h3>
            <div class="js-recommend">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% if latest_session %}
                        <div class="swiper-slide">
                            <div class="recommend-slide">
                                <div class="tour-slide__box">
                                    <a href="{% url 'meet_detail_view' latest_session.pk %}">
                                        {% if latest_session.image %}
                                            <img src="{{ latest_session.image.url }}" alt="{{ latest_session.nom }}">
                                        {% else %}
                                            <img src="{% static 'assets/img/default-image.jpg' %}" alt="Default Image">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="swiper-slide">
                            <p>No latest session found.</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <div class="uk-width-1-1">
            <h3 class="uk-text-lead">Session à Venir</h3>


            <div class="js-popular">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for session in sessions %}
                        <div class="swiper-slide">
                            <div class="game-card">
                                <div class="game-card__box">
                                    <div class="game-card__media">
                                        <a href="{% url 'meet_detail_view' session.pk %}">
                                            {% if session.image %}
                                                <img src="{{ session.image.url }}" alt="{{ session.nom }}">
                                            {% else %}
                                                <img src="{% static 'assets/img/default-image.jpg' %}" alt="Image par défaut">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="game-card__info">
                                        <a class="game-card__title" href="{% url 'meet_detail_view' session.pk %}">{{ session.nom }}</a>
                                        <div class="game-card__rating"><span>{{ session.participants.count }} Participants</span></div>
                                        <div class="game-card__price">
                                            <span><i class="fa fa-calendar"></i> Début : {{ session.session_debut|date:"d M Y" }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="swiper-slide">
                            <p>Aucune session trouvée.</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <a href="{% url 'all_meetings' %}" class="view-all-button" style="background-color: #3f53a1da; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; text-align: center; text-decoration: none;">
                Tout Voir
            </a>
        </div>
    </div>
</main>
{% endblock %}
