 <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <h3 class="uk-text-lead">Ajouter un participant</h3>
                    </div>

                </div>
                <div class="uk-grid uk-child-width-6-6@xl uk-child-width-6-6@l uk-child-width-6-6@s uk-flex-middle uk-grid-small" data-uk-grid>
                       <div class="form-login-1"  style="width:100% !important; border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
    padding: 20px;">

                        <div class="form-login__box">

                            <form action="#!">
                                <div class="uk-margin"><input class="uk-input" type="email" placeholder="Nom"></div>
                                <div class="uk-margin"><input class="uk-input" type="text" placeholder="Prénoms (S)"></div>

                                <div class="uk-margin"><input class="uk-input" type="text" placeholder="Titre"></div>

                                <div class="uk-margin"><input class="uk-input" type="email" placeholder="Email"></div>
                                <div class="uk-margin"><a class="uk-button uk-button-danger uk-width-1-1" href="03_home.html">Ajouter</a></div>
                            </form>
                        </div>
                    </div>

                </div>
            </main>