     <aside class="sidebar is-show" id="sidebar">
                <div class="sidebar-box">
                    <ul class="uk-nav">
                        <li class="uk-active"><a href="{% url 'home'%}"><i class="ico_home"></i><span>Home</span></a></li>
                        <!--li class="uk-nav-header">Mon Compte</li-->

                       <!--li class="uk-nav-header">Autres Pages</li-->
                        <li><a href="{% url 'all_meetings' %}"><i class="ico_store"></i><span>Toutes les sessions</span></a></li>
                       <li><a href="{% url 'create_session' %}"><i class="ico_store"></i><span>Créer une session</span></a></li>

                        <!--li><a href="11_market.html"><i class="ico_market"></i><span>Simples Réunions</span></a></li-->
                        <!--li><a href="12_streams.html"><i class="ico_streams"></i><span>Streams</span></a></li>
                        <li><a href="13_community.html"><i class="ico_community"></i><span>Community</span></a></li-->
                        <li class="uk-nav-header">Support</li>
                        <li><a href="#modal-report" data-uk-toggle><i class="ico_report"></i><span>Signaler Un problème</span></a></li>
                        <li><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>Aide</span></a></li>
                    </ul>
                </div>
            </aside>